
<h1>Edit Tenant</h1>

<form action='/tenants/<%= @tenant.id %>' method='post'>
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    
    <label>Name: </label>
    <input type="text" name="name" value ="<%= @tenant.name %>">
    <br/> 

    <label>Apartment: </label>
    <select name="apartment_id">
        <option disabled selected> -- Select an Apartment -- </option>
        <% @apartments.each do |apartment| %>
            <option value=<%= apartment.id %>>
                <%= apartment.address %>
            </option>
        <% end %>
    </select>

    <br/> 
    <label>Or Enter a new apartment:</label>
    <input type="text" name="apartment_address">  

    <br/> 
    <input type="submit" name="Update tenant info">  

</form>

<a href="/tenants/<%= @tenant.id %>">Go back to viewing this tenant</a>